<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
 <servlet>
     <description></description>
     <display-name>loginServlet</display-name>
     <servlet-name>loginServlet</servlet-name>
     <servlet-class>controller.loginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>loginServlet</servlet-name>
     <url-pattern>/loginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
     <description></description>
     <display-name>logoutServlet</display-name>
     <servlet-name>logoutServlet</servlet-name>
     <servlet-class>controller.logoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>logoutServlet</servlet-name>
     <url-pattern>/logoutServlet</url-pattern>
 </servlet-mapping>
  <servlet>
      <description></description>
     <display-name>registerServlet</display-name>
     <servlet-name>registerServlet</servlet-name>
     <servlet-class>controller.registerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>registerServlet</servlet-name>
     <url-pattern>/registerServlet</url-pattern>
 </servlet-mapping>
   <servlet>
      <description></description>
     <display-name>insertVoucherServlet</display-name>
     <servlet-name>insertVoucherServlet</servlet-name>
     <servlet-class>controller.insertVoucherServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>insertVoucherServlet</servlet-name>
     <url-pattern>/insertVoucherServlet</url-pattern>
 </servlet-mapping>
    <servlet>
      <description></description>
     <display-name>updateVoucherServlet</display-name>
     <servlet-name>updateVoucherServlet</servlet-name>
     <servlet-class>controller.updateVoucherServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>updateVoucherServlet</servlet-name>
     <url-pattern>/updateVoucherServlet</url-pattern>
 </servlet-mapping>
    <servlet>
      <description></description>
     <display-name>deleteVoucherServlet</display-name>
     <servlet-name>deleteVoucherServlet</servlet-name>
     <servlet-class>controller.deleteVoucherServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>deleteVoucherServlet</servlet-name>
     <url-pattern>/deleteVoucherServlet</url-pattern>
 </servlet-mapping>
     <servlet>
      <description></description>
     <display-name>claimVoucherServlet</display-name>
     <servlet-name>claimVoucherServlet</servlet-name>
     <servlet-class>controller.claimVoucherServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>claimVoucherServlet</servlet-name>
     <url-pattern>/claimVoucherServlet</url-pattern>
 </servlet-mapping>
      <servlet>
      <description></description>
     <display-name>dashboardServlet</display-name>
     <servlet-name>dashboardServlet</servlet-name>
     <servlet-class>controller.dashboardServlet</servlet-class>
 </servlet>
 <servlet-mapping>
     <servlet-name>dashboardServlet</servlet-name>
     <url-pattern>/dashboardServlet</url-pattern>
 </servlet-mapping>
 
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
